* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 5px;
  padding-top: 70px;
}

article {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

figure {
  width: 50%;
  text-align: center;
}

input {
  margin: 4px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 5px;
}

label {
  display: block;
  margin-right: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #eee;
  display: flex;
  padding: 10px;
}
